{% extends "musicrec/layout.html" %}
{% load static %}
{% block body %}
<div id="create-container">
    <form action="{% url 'createplaylist' %}" method="POST">
      {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">Playlist Name:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Playlist Name" name="playlist-name">
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Playlist Type:</label>
          <select class="form-control" id="exampleFormControlSelect1" name="public-private">
            <option value="public">Public</option>
            <option value="private">Private</option>
          </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Collaborative:</label>
            <select class="form-control" id="exampleFormControlSelect1" name="collab">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
          </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1" name="description">Playlist Description:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
        <button type="submit" class="btn btn-outline-success">Create</button>
      </form>
</div>
{% endblock %}

